@model ProductViewModel

@{
    ViewData["Title"] = "Yangi Mahsulot Qo‘shish";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<h2>Yangi Mahsulot Qo‘shish</h2>

<form asp-action="AddProduct" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label>Available</label>
        <input asp-for="Available" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Category</label>
        <input asp-for="Category" class="form-control" />
    </div>

    <div class="form-group">
        <label>Rasm yuklash</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Saqlash</button>
</form>
