@{
    ViewData["Title"] = "Admin Page";
}

<h2>Admin Panel</h2>
<p><a asp-controller="Admin" asp-action="AddProduct">Mahsulot qo'shish</a></p>
<p><a asp-controller="Admin" asp-action="allproducts">Mahsulotlar</a></p>
<p><a asp-controller="Admin" asp-action="orderslist">Buyurtmalarni yig'ish</a></p>
<p><a asp-controller="Admin" asp-action="deliveringOrders">Buyurtmalarni yetkazish</a></p>
<p><a asp-controller="Admin" asp-action="ordersHistory">Buyurtmalar</a></p>
