@model IEnumerable<Product>

@{
    ViewData["Title"] = "Maxsulotlar";
}

@if (Model.Count() > 0)
{
    <div class="products-grid">
        @foreach (var product in Model)
        {
            <div class="product-card" data-category="soatlar" onclick="location.href='@Url.Action("Index", "Product")/@product.Id'">
                <img src="../../@product.ImageUrl" alt="maxsulot rasmi" class="product-image">
                <div class="product-info">
                    <div class="product-category">@Math.Round(@product.Price).ToString("N0").Replace(',', ' ') so'm</div>
                    <h3>@product.Name</h3>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>Maxsulotlar topilmadi</h2>
}